@import url("base.css");

.createCommentForm {
	background-color: #f8f8ff;  /* ghostwhite */
	padding: 10px;
	margin-bottom: 10px;
	border: 5px solid #a9a9a9;  /* darkgray */
	display: inline-block;  /* outer の text-align: center; とセット */
}

.commentBox {
	background-color: #f8f8ff;  /* ghostwhite */
	padding: 10px;
	width: 95%;
	margin-bottom: 10px;
	border: 5px solid #a9a9a9;  /* darkgray */
	display: inline-block;  /* outer の text-align: center; とセット */
}

/* コメント本文 */
.body {
	padding: 20px;
}

.userIdAndPostTime {
	text-align: right;
}
